
$sunset-bg-1: -webkit-linear-gradient(top, #893264 0%,#59487f 12%,#232530 95%,#111C44 100%);
$sunset-bg-2: -webkit-linear-gradient(top, #893264 0%,#59487f 12%,#232530 100%);
$sunset-bg-3: -webkit-linear-gradient(top, #f632a1 0%,#59487f 38%,#28396a 60%, #28396a 100%);
$sunset-bg-4: -webkit-linear-gradient(top, #f632a1 0%,#59487f 38%,#50428f 60%, #28396a 100%);
$sunset-bg-5: -webkit-linear-gradient(top, #f632a1 0%,#59487f 38%,#50428f 60%, #50428f 100%);

$text-bg-orange-twotone: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
$text-bg-orange-twotone-2: -webkit-linear-gradient(top, #ff884e 0%,#ff884e 40%,#ff664e 41%,#ff3c39 100%);
$text-bg-orange-twotone-3: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 40%,#ff7c00 41%,#ff7f04 100%);
$text-bg-orange-twotone-4: -webkit-linear-gradient(top, #ffa16b 0%,#f97e3b 40%,#f44d00 41%,#f44404 100%);
$text-bg-shiny-orange: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 23%,#ffb76b 47%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);
$text-bg-orange-to-blue-1: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 17%,#ffb76b 29%,#d838ea 37%,#7d00dd 51%,#007af4 59%,#b3cad8 100%);
$text-bg-orange-to-blue-2: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 22%,#ffb76b 32%,#d838ea 42%,#7d00dd 55%,#007af4 68%,#ffffff 100%);
$text-bg-blue-to-purple-1: -webkit-linear-gradient(top, #345cc9 1%,#ffffff 39%,#ffb76b 56%,#d838ea 70%,#7d00dd 100%,#7d00dd 100%);
$text-bg-blue-to-purple-2: -webkit-linear-gradient(top, #345cc9 17%,#ffffff 39%,#ffb76b 56%,#d838ea 70%,#7d00dd 100%,#7d00dd 100%);