.drive-match-page {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}

.drive-match-page .player-vehicle-display {
  width: 50%;
  box-sizing: border-box;
  border: 3px solid #000;
}
