@import 'src/shared-styles.scss';

.player-vehicle-display {
  position: relative;
  width: 50%;

  .camera-renderer {
    width: 100%;
    height: 100%;
  }

  .hud {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;

    .cars-left {
      position: absolute;
      top: 25px;
      right: 40px;
      text-align: right;

      .description {
        font-size: 24px;
        color: #fff;
        text-shadow: 3px 3px 0px #000;
        margin-bottom: 10px;
        font-family: 'Nineteen Ninety Seven', monospace;
      }

      .value {
        font-weight: bold;
        font-family: 'PressStart2P', monospace;
        font-size: 70px;
        @include gradientText($text-bg-blue-to-purple-1);
      }
    }

    .damage-indicator {
      position: absolute;
      bottom: 25px;
      right: 25px;

      .engine,
      .car {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 150px;
        height: auto;
        filter: sepia() saturate(10000%) hue-rotate(30deg) brightness(100%);
      }
    }
  }
}