@import 'src/shared-styles.scss';


@keyframes flash-selected {
  0% {
    filter: brightness(100%);
  }

  50% {
    filter: brightness(700%) grayscale(100%);
  }

  100% {
    filter: brightness(100%);
  }
}

.SelectVehiclePage {
  width: 100vw;
  height: 100vh;
  background: $sunset-bg-4;
  
  font-family: 'Nineteen Ninety Seven', monospace;


  .title {
    padding-top: 40px;
    padding-bottom: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

    .player {
      font-weight: bold;
      @include gradientText($text-bg-orange-twotone-2);
      font-size: 55px;
      text-transform: uppercase;
      display: inline-block;
      text-shadow: none;
      animation: blink 1.5s infinite;
    }

    .directive {
      font-size: 55px;
      color: #ddd;
      //text-shadow: 4px 4px 0px #000;
      line-height: 55px;
      text-transform: uppercase;
      margin-left: 30px;
      @include gradientText($text-bg-orange-twotone-2);


    }
  }

  .flex-container {
    display: flex;
    position: relative;
    z-index: 2
  }

  .vehicle-tiles {
    width: 650px;
  }
    
  .vehicle-tile {
    width: 19vh;
    height: 19vh;
    cursor: pointer;
    box-sizing: border-box;
    margin: 2px;
    float: left;
    border: 4px solid #777;
    border-top-color: #222;
    border-left-color: #222;
    background: rgba(#444, 0.5);
    overflow: hidden;

    &.selected {
      animation: flash-selected 0.15s linear 2;
      animation-timing-function: step-start;
      animation-fill-mode: both;
    }

    img {
      width: calc(19vh + 20px);
      height: calc(19vh + 20px);
      margin-left: -10px;
      margin-top: -10px;
      filter: grayscale(80%) brightness(70%);
    }

    &.selected,
    &:hover {
      border: 8px solid #ff0057;
      background: $text-bg-orange-twotone-2;

      img {
        filter: none;
        margin-left: -14px;
        margin-top: -14px;
      }
    }
  }

  &.player-2 {
    .flex-container {
      flex-direction: row-reverse;
    }

    .vehicle-tile:hover,
    .vehicle-tile.selected {
      border: 8px solid #5754cc;
    }
  }

  .vehicle-info {

    .stats {
      color: #eee;
      text-shadow: 3px 3px 0px #000;
      font-size: 20px;
      text-align: center;

      .vehicle-name {
        font-size: 40px;
        @include gradientText($text-bg-blue-to-purple-2);
        text-shadow: none;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
    
    .previews {
      position: relative;
      width: 900px;
      height: 450px;
    }

    .preview {
      position: absolute;
      top: 0;
      left: 0;
      visibility: hidden;
      width: 100%;
      height: 100%;

      &.is-active {
        visibility: visible;
      }
    }

    .camera-renderer {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}