.SplashPage {
  width: 100vw;
  height: 100vh;
  //background: -webkit-linear-gradient(top, #893264 0%,#59487f 12%,#232530 100%);
  background: -webkit-linear-gradient(top, #893264 0%,#59487f 12%,#232530 95%,#111C44 100%);
  text-align: center;

  font-family: 'Nineteen Ninety Seven', monospace;
  //font-family: 'Pixel Emulator', monospace;
}

.SplashPage .start-match {
  border: 5px solid #000;
  width: 300px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
}

.SplashPage .start:hover {
  opacity: 0.7;
}

.SplashPage .vehicle-selector {
  display: inline-block;
  margin: 40px;
  padding: 40px;
  background: #eee;
}

.SplashPage .vehicle-type {
  cursor: pointer;
  padding: 3px;
}

.SplashPage .vehicle-type.selected {
  font-weight: bold;
}

.SplashPage .title {
  font-size: 180px;
  font-weight: bold;
  padding-top: 100px;
  //-webkit-text-stroke: 5px #375984;
  
  //font-family: 'ARCADE', monospace;
  
  

  
  //  font-family: 'DominoFarm';
  //  color: #ff7f04;
  
}

@keyframes slide-in {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0);
  }
}

.SplashPage .title-row {
  animation: slide-in 0.3s linear;
  background: -webkit-linear-gradient(top, #ffb76b 0%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%); /*two tone orange */
  //background:-webkit-linear-gradient(top, #ffffff 0%,#ffffff 23%,#ffb76b 47%,#ffa73d 50%,#ff7c00 51%,#ff7f04 100%);  /*white shiny orange*/
  //background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 17%,#ffb76b 29%,#d838ea 37%,#7d00dd 51%,#007af4 59%,#b3cad8 100%); /*orange pink purple blue #1*/
  //background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 22%,#ffb76b 32%,#d838ea 42%,#7d00dd 55%,#007af4 68%,#ffffff 100%); /*orange pink purple blue #2*/
  //background: -webkit-linear-gradient(top, #345cc9 1%,#ffffff 39%,#ffb76b 56%,#d838ea 70%,#7d00dd 100%,#7d00dd 100%); /* blue white pink purple */
  //background: -webkit-linear-gradient(top, #345cc9 17%,#ffffff 39%,#ffb76b 56%,#d838ea 70%,#7d00dd 100%,#7d00dd 100%); /* blue white pink purple #2 */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: translateX(-100vw);
  animation-fill-mode: both;
}

.SplashPage .title-row:nth-child(2) {
  animation-delay: 0.3s;
}

@keyframes blink {
  0% {
    visibility: hidden;
  }

  49% {
    visibility: hidden;
  }

  50% {
    visibility: visible;
  }

  100% {
    visibility: visible;
  }
}

.SplashPage .start-selection {
  font-size: 30px;
  animation: blink 1.5s infinite;
  cursor: pointer;
  color: #C43131;
}